*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* we want 10px, and default measure is 16px. the percent will be = (10/16) * 100 */
}

body {
  box-sizing: border-box;
}