@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.input-feedback {
  color: red;
}

.mainLoginInput{
  padding: 0px;
  font-size: 1.6rem;
}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: $color-coral-two
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

.mainLoginInput:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: hsl(9, 40%, 60%);
}

.language-box-title {
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.712);
}

.empty-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-logged-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .profile-creation-textbox-text{
    font-size: 2.2rem;
    text-align: center;
    color: $color-coral-two;
    margin: 3rem;
  }

  img {
    width: 25rem;
    margin-bottom: 5rem;
  }

}

.sdf{
  color: black;
}