// COLORS
$color-red: #ff7473;
$color-red-dark: #8f4040;
$color-yellow: #ffc952;
$color-blue: #47b8e0;
$color-purple: #34314c;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-orange: #ff9966;
$color-coral: #ff5e62;
$color-coral-two: #F2627A;
$color-orange-two: #F17834;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT 
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;