.dashboard-container {
  width: 100vw;
  height: 100vh;
  background: $color-orange-two; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $color-orange-two, $color-coral-two); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-orange-two, $color-coral-two);
  position: relative;

  &-body{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 6rem;
    display: flex;
    justify-content: center;

    h3{
      color: rgba(255, 255, 255, 0.644);
    }
  }
}