.dashboard-container {
  width: 100%;
  height: 100vh;
  // background: $color-orange-two; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, $color-orange-two, $color-coral-two); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, $color-orange-two, $color-coral-two);
  background-color: white;
  position: relative;

  &-body{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
      color: rgba(255, 255, 255, 0.644);
    }
  }

  .dashboard-button-container {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position:fixed;
    top: 0;
    background-color: $color-coral-two;
    box-shadow: 1px 11px 14px -8px rgba(171,166,171,1);
    z-index: 20;

    .triangle-dashboard {
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 35px;
      border-right-width: 35px;
      border-top: 18px solid $color-coral-two;
      position: absolute;
      bottom: -1rem;
      z-index: 20;
    }
    
    a{
      color: rgba(255, 255, 255, 0.842);
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      line-height: 2.5rem;
      text-decoration: none;
      padding-bottom: 1rem;

      img{
        width: 2.5rem;
        margin-right: 5px;
      }
    }
  }

  .dashboard-content-container{
    width: 100%;
    height: 90%;
    background-color: #fff;
    position: relative;

    &-created{
      background-color: #fff;
      color:black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 5rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 15rem;
      }

      h2{
        background: -webkit-linear-gradient($color-orange-two, $color-coral-two);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.5rem;
        font-weight: 900;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
        font-size: 3rem;
        display: inline-block;
        display: flex;
        align-items: center;
        letter-spacing: 3px;
        font-weight: 700;
        background: -webkit-linear-gradient($color-coral-two, $color-orange-two);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .2s linear;
        border: 1px solid $color-coral-two;
        border-radius: 5px;
        padding: 1rem 1rem;


        &:hover {
          background: -webkit-linear-gradient($color-orange-two, $color-coral-two);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: translateY(-5px);
          box-shadow: 1px 11px 14px -8px rgba(171,166,171,1);
        }

        &:active {
          transform: translateY(-3px);
          box-shadow: 1px 9px 10px -8px rgba(171,166,171,1);
        }

        img{
          width: 4rem;
          margin-right: 5px;
        }
      }
 
    }

    &-taken{
      background-color: #fff;
      color:black;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 5rem);
      margin: 0 auto;
      text-align: center;
      
      img {
        width: 15rem;
      }
      
      h2{
        background: -webkit-linear-gradient($color-orange-two, $color-coral-two);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.5rem;
        font-weight: 900;
        text-transform: uppercase;
        
      }

      a {
        text-decoration: none;
        max-width: 201.2px;
        font-size: 3rem;
        display: inline-block;
        display: flex;
        align-items: center;
        letter-spacing: 3px;
        font-weight: 700;
        background: -webkit-linear-gradient($color-coral-two, $color-orange-two);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .2s linear;
        border: 1px solid $color-coral-two;
        border-radius: 5px;
        padding: 1rem 1rem;
        margin: 0 auto;


        &:hover {
          background: -webkit-linear-gradient($color-orange-two, $color-coral-two);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: translateY(-5px);
          box-shadow: 1px 11px 14px -8px rgba(171,166,171,1);
        }

        &:active {
          transform: translateY(-3px);
          box-shadow: 1px 9px 10px -8px rgba(171,166,171,1);
        }

        img{
          width: 4rem;
          margin-right: 5px;
        }
      }
    }

    &-score{
      background-color: #fff;
      color:black;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      
      img {
        width: 15rem;
      }

      header {
        height: 13rem;
        position: fixed;
        top: 8rem;
        width: 100%;
        z-index: 10;
        padding-top: 1.3rem;
        background-color: $color-grey-light-1;
        box-shadow: 0px 3px 5px -2px rgba(150,150,150,.5);

        @media screen and (min-width: 768px) {
          height: 16rem;
        }

        h2{
          background: -webkit-linear-gradient($color-orange-two, $color-coral-two);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
  
          @media screen and (min-width: 768px) {
            font-size: 3.5rem;
            font-weight: 900;
          }
        }

        h3 {
          color: $color-grey-dark;

          span {
            color: $color-coral-two;
            font-size: 2rem;
          }
        }

        div {
          color: $color-grey-dark;
          font-size: 2.5rem;
          font-weight: 700;
          border: 2px dashed $color-coral-two;
          display: inline-block;
          padding: 0 .8rem;
          border-radius: 5px;
        }
      }
      

      a {
        text-decoration: none;
        max-width: 201.2px;
        font-size: 3rem;
        display: inline-block;
        display: flex;
        align-items: center;
        letter-spacing: 3px;
        font-weight: 700;
        background: -webkit-linear-gradient($color-coral-two, $color-orange-two);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .2s linear;
        border: 1px solid $color-coral-two;
        border-radius: 5px;
        padding: 1rem 1rem;
        margin: 0 auto;


        &:hover {
          background: -webkit-linear-gradient($color-orange-two, $color-coral-two);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transform: translateY(-5px);
          box-shadow: 1px 11px 14px -8px rgba(171,166,171,1);
        }

        &:active {
          transform: translateY(-3px);
          box-shadow: 1px 9px 10px -8px rgba(171,166,171,1);
        }

        img{
          width: 4rem;
          margin-right: 5px;
        }
      }

      section {
        padding: 1rem 0;
        margin-top: 13.3rem;

        @media screen and (min-width: 768px) {
          margin-top: 16.3rem;
        }
      }
    }
  }
}

#gradient {
  /* Data URI encoded from: gradient.svg */
  background: #F17834 url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGRlZnM+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAuNSIgeTE9IjAiIHgyPSIwLjUiIHkyPSIxIj4KICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjRjI2MjdBIiAvPgogICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGMTc4MzQiIC8+CiAgPC9saW5lYXJHcmFkaWVudD4KIDwvZGVmcz4KIDxnPgogIDxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBzdHJva2Utd2lkdGg9IjAiIHg9IjAiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
  background-size: contain;
}

.pills-container {
  overflow: auto;
  width: 100%;
  padding: 5px;
  height: 100%;
  padding-top: 1rem;
  position: relative;

  .new-pill-float-button {
    position: fixed;
    bottom: 6.5rem;
    right: 2.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    background-color: $color-coral-two;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    box-shadow: 10px 10px 10px -6px rgba(128,128,128,1);
    text-decoration: none;
    cursor: pointer;
  }
}

.second-dashboard {
  background: $color-orange-two; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $color-orange-two, $color-coral-two); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-orange-two, $color-coral-two);
}