.home-search-container {
  width: 100vw;
  height: 30vh;
  background: $color-orange-two; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $color-orange-two, $color-coral-two); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-orange-two, $color-coral-two);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 20;
  box-shadow: -1px 6px 9px -2px rgba(168,168,168,1);

  .triangle {
    display: block;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top-color: #F17834;
    position: relative;
    position: absolute;
    bottom: -27px;
    left: calc(50% - 15px);
    z-index: 20;
  }

  &-box {
    width: 100%;
    height: calc(90% - 5.5rem);
    max-width: 50rem;

    span {
      margin: 0 5px;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .separator {
      font-size: 1.6rem;
      margin: 0 1rem;
      color: rgba(255, 255, 255, 0.795);
    }

    .search-box-selector {
      width: 25%;
      font-size: 1.6rem;
      color: white;
      background-color: rgba(255, 255, 255, 0.226);
      padding-left: 2px;
    }
    
    .level {
      letter-spacing: 2px;
      padding-left: 7px;
    }

    input {
      margin-top: 2rem;
      width: 60%;
      background-color: transparent;
      outline: 0;
      border: 0;
      text-decoration: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.795);
      color: white;
      margin-left: 3px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.595);
        padding-left: 6px;
      }
    }

    .search-box-button {
      width: 25%;
      margin-left: 3%;
      margin-top: 2rem;
      margin-right: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid rgba(255, 255, 255, 0.336);
      text-decoration: none;
      color: white;
      font-weight: 600;
      transition: all .3s linear;

      &:hover {
        background-color: rgba(255, 255, 255, 0.336);
      }
    }
  }
}

.home-page {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.search-body {
  width: 100vw;
  height: 70vh;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;

  &-suggestions {
    width: 100%;
    height: 100%;
    max-width: 76.8rem;
    background-color: white;
    position: absolute;

    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 5% 5%;

      .no-results {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          color: $color-coral-two;
          font-size: 3rem;
        }

        img {
          width: 14rem;
        }
      }

      .results {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-result {
    width: 100%;
    height: 100%;
    max-width: 76.8rem;
    position: absolute;
  }
}

