.profile-image-container, .profile-image-loading {
    background-color: #fff;
    width: 25rem;
    height: 25rem;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    clip-path: circle(50% at 50% 50%);

  div{
    width: 25rem;
    height: 25rem;
    transition: all 0.2s linear;
    clip-path: circle(50% at 50% 50%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
  }

  &:hover > div{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.4;
  }

  &:hover > img{
    transition: all .5s linear;
    top: 40%;
    opacity: 1;
  }

  img{
    position: absolute;
    width: 5rem;
    opacity: 0;
    top: 45%;
    right: 40%;
  }
}

.profile-image-loading {

  div{
    width: 30rem;
    height: 30rem;
    clip-path: circle(50% at 50% 50%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.4;
  }

  p{
    position: absolute;
    width: 100;
    font-size: 5rem;
    font-weight: 900;
    color: #F2627A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.profile-creation {
  background: $color-orange-two; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $color-orange-two, $color-coral-two); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-orange-two, $color-coral-two);
  height: 100vh;
}

.profile-creation-textbox{
  background-color: rgba(255, 255, 255, 0.685);
  color: $color-coral;
  border-radius: 1rem;
  padding: 2rem 0;
  position: relative;
  margin-bottom: 8rem;

  p {
    font-weight: 700;
    font-size: 2rem;
  }

    .triangle {
      display: block;
      height: 0px;
      width: 0px;
      border: 20px solid transparent;
      border-top-color: rgba(255, 255, 255, 0.685);
      position: absolute;
      bottom: -40px;
      left: calc(50% - 20px);
    }
  
}