.btn-text {
  color: $color-primary;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.473);
  padding: 1rem 1.7rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.685);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  
  &:hover {
    cursor: pointer;
    transition: all .5s linear;
    background-color: rgba(255, 255, 255, 0.473);
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba(rgba(255, 255, 255, 0.473), .15);
    transform: translateY(-2px);
    color: $color-coral-two;
    border-bottom: 2px solid white;
    padding: 1rem 2rem;
  }

  &:active {
    box-shadow: 0 .2rem 1rem rgba($color-black, .15);
    transform: translateY(2px);

  }
}

.btn-text-login {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.658);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}