
// Profile creation form
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  opacity: 1;
  transition: all .3s linear;

}

.form.card-fading {
  opacity: 0;
  transform: translateX(-10rem);
}

// Login form
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-two {
  opacity: 1;
  position: absolute;
  right: -10rem;
  top: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }

  100% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}