@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* we want 10px, and default measure is 16px. the percent will be = (10/16) * 100 */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s linear;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

.form {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.profile-image-container, .profile-image-loading {
  background-color: #fff;
  width: 30rem;
  height: 30rem;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  clip-path: circle(50% at 50% 50%);
}
.profile-image-container div, .profile-image-loading div {
  width: 30rem;
  height: 30rem;
  transition: all 0.2s linear;
  clip-path: circle(50% at 50% 50%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}
.profile-image-container:hover > div, .profile-image-loading:hover > div {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.4;
}
.profile-image-container:hover > img, .profile-image-loading:hover > img {
  transition: all 0.5s linear;
  top: 40%;
  opacity: 1;
}
.profile-image-container img, .profile-image-loading img {
  position: absolute;
  width: 5rem;
  opacity: 0;
  top: 45%;
  right: 45%;
}

.profile-image-loading div {
  width: 30rem;
  height: 30rem;
  clip-path: circle(50% at 50% 50%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.4;
}
.profile-image-loading p {
  position: absolute;
  width: 100;
  font-size: 5rem;
  font-weight: 900;
  color: #ff5e61b6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-creation {
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff9966, #ff5e62);
  height: 100vh;
}

.profile-creation-textbox {
  background-color: rgba(255, 255, 255, 0.685);
  color: #ff5e62;
  border-radius: 1rem;
  padding: 2rem 0;
  position: relative;
  margin-bottom: 8rem;
}
.profile-creation-textbox p {
  font-weight: 700;
  font-size: 2rem;
}
.profile-creation-textbox .triangle {
  display: block;
  height: 0px;
  width: 0px;
  border: 20px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.685);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 20px);
}

/*# sourceMappingURL=App.css.map */
