@charset "UTF-8";
/* Slider */
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

@keyframes moveInLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.main {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 90%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Kanit, sans-serif;
  font-weight: 800;
  font-size: 10em;
  will-change: transform, opacity;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* we want 10px, and default measure is 16px. the percent will be = (10/16) * 100 */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.input-feedback {
  color: red;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.658);
  font-size: 1.4rem;
  padding: 0 5px;
  border-radius: 5px;
  margin-top: 3px;
}

.mainLoginInput {
  padding: 0px;
  font-size: 1.6rem;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: #F2627A;
}

.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: #c27c70;
}

.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: #c27c70;
}

.language-box-title {
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.712);
}

.empty-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-logged-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.not-logged-message .profile-creation-textbox-text {
  font-size: 2.2rem;
  text-align: center;
  color: #F2627A;
  margin: 3rem;
}
.not-logged-message img {
  width: 25rem;
  margin-bottom: 5rem;
}

.sdf {
  color: black;
}

.u-center-text {
  text-align: center;
}

.u-is-disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.u-display-none {
  display: none;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-padding-bottom-big {
  padding-bottom: 8rem;
}

.u-padding-bottom-medium {
  padding-bottom: 4rem;
}

.u-padding-bottom-small {
  padding-bottom: 1.5rem;
}

.u-padding-top-big {
  padding-top: 8rem;
}

.u-padding-top-medium {
  padding-top: 4rem;
}

.u-padding-top-small {
  padding-top: 1.5rem;
}

.btn-text {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.473);
  padding: 1rem 1.7rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.685);
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-text:hover {
  cursor: pointer;
  transition: all 0.5s linear;
  background-color: rgba(255, 255, 255, 0.473);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
  color: #F2627A;
  border-bottom: 2px solid white;
  padding: 1rem 2rem;
}
.btn-text:active {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(2px);
}

.btn-text-login {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.658);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  opacity: 1;
  transition: all 0.3s linear;
}

.form.card-fading {
  opacity: 0;
  transform: translateX(-10rem);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-two {
  opacity: 1;
  position: absolute;
  right: -10rem;
  top: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}
.input {
  width: 50vw;
  max-width: 40rem;
  height: 2em;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.384);
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.616);
  font-weight: 900;
  text-align: center;
}
.input:hover {
  width: 55vw;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.616);
  font-size: 2rem;
}

.input-icons {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}
.input-icons img {
  margin-left: 3rem;
  margin-top: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}
.input-icons .input-no-line {
  width: 17rem;
  height: 2em;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.616);
  font-weight: 900;
  padding-left: 1.5rem;
}
.input-icons .input-no-line::placeholder {
  color: rgba(255, 255, 255, 0.616);
  font-size: 2rem;
}
.input-icons .input-no-line :hover .tag {
  transform: translateX(5px);
}

#input-birthday {
  font-size: 2.2rem;
  padding-left: 1.5rem;
  width: 17rem;
}

.input-birthday {
  margin-top: 2rem;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.selector {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: rgba(255, 255, 255, 0.616);
  font-size: 2.2rem;
  width: 17rem;
  padding-left: 1.5rem;
}
.selector option {
  background-color: transparent;
  color: #F2627A;
}

.selector-language {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #F2627A;
  padding-left: 1.5rem;
  margin-left: auto;
  width: 37%;
}
.selector-language option {
  background-color: transparent;
  color: #F2627A;
}

.tag {
  height: 3.5rem;
  width: 8rem;
  border-radius: 1rem 0 0 1rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.616);
  text-align: center;
  line-height: 3.5rem;
  color: #F2627A;
  font-weight: 700;
  z-index: 1;
  display: inline-block;
}
.tag:before {
  content: "";
  position: absolute;
  right: -1.72rem;
  height: 3.5rem;
  width: 3.5rem;
  transform-origin: top left;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 1px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
}

.textarea {
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.493);
  border: 1px dashed white;
  resize: none;
  color: #F2627A;
  font-weight: 700;
  font-size: 1.9rem;
  padding: 1rem;
  text-decoration: none;
}

/*shows the stars side by side, centered, and in reverse order than the HMTL*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/*hides the radio buttons*/
.rating > input {
  display: none;
}

/*style the empty stars, sets position:relative as base for pseudo-elements*/
.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 6vw;
  color: rgba(255, 255, 254, 0.521);
  cursor: pointer;
}

/* sets filled star pseudo-elements */
.rating > label::before {
  content: "⬤";
  position: absolute;
  opacity: 0;
}

/*overlays a filled start character to the hovered element and all previous siblings*/
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

/*overlays a filled start character on the selected element and all previous siblings*/
.rating > input:checked ~ label:before {
  opacity: 1;
}

/*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

/*just aesthetics*/
body {
  background: #222225;
  color: white;
}

h1, p {
  text-align: center;
}

p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}
/*shows the stars side by side, centered, and in reverse order than the HMTL*/
.rating2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

/*hides the radio buttons*/
.rating2 > input {
  display: none;
}

/*style the empty stars, sets position:relative as base for pseudo-elements*/
.rating2 > label {
  position: relative;
  width: 1.1em;
  font-size: 6vw;
  color: rgba(255, 255, 254, 0.521);
  cursor: pointer;
}

/* sets filled star pseudo-elements */
.rating2 > label::before {
  content: "★";
  position: absolute;
  opacity: 0;
}

/*overlays a filled start character to the hovered element and all previous siblings*/
.rating2 > label:hover:before,
.rating2 > label:hover ~ label:before {
  opacity: 1 !important;
}

/*overlays a filled start character on the selected element and all previous siblings*/
.rating2 > input:checked ~ label:before {
  opacity: 1;
}

/*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
.rating2:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.header-container {
  width: 100vw;
  height: 5.5rem;
  background-color: rgba(255, 255, 255, 0.829);
  overflow: hidden;
  position: fixed;
  top: 0;
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.404);
  z-index: 100;
}
.header-container img {
  position: fixed;
  top: -1.1rem;
  height: 8rem;
}

.container {
  width: 100%;
  text-align: center;
  padding: 3rem;
}

.navbar-container {
  width: 100vw;
  height: 5rem;
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dddada;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0px -1px 8px -2px #949294;
  -moz-box-shadow: 0px -1px 8px -2px #949294;
  box-shadow: 0px -1px 8px -2px #949294;
}
.navbar-container a {
  display: flex;
}
.navbar-container img {
  height: 4rem;
  width: 4rem;
}

.card {
  max-width: 700px;
  max-height: 650px;
  width: 90vw;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.603);
}

.card > div {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1rem solid white;
}

.card-title {
  width: 100%;
  height: 4rem;
  background-color: #c28e89;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  font-size: 2rem;
  box-shadow: 0px 10px 12px -8px rgba(184, 152, 118, 0.75);
}
.card-title a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0 1rem;
  transition: all 0.2s linear;
}
.card-title a:hover {
  color: #F2627A;
  transform: translateX(-3px);
}

.play {
  justify-content: space-around;
}

.images-card-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 9rem);
}
.images-card-container div {
  width: 50%;
  height: 50%;
  max-height: 40rem;
  border: 1px solid white;
  position: relative;
}
.images-card-container div .images-card-image-container {
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F2627A;
  cursor: pointer;
  border: 0;
  overflow: hidden;
}
.images-card-container div .images-card-image-container .span {
  background-color: rgba(255, 255, 255, 0.658);
  padding: 5px 1rem;
  border-radius: 2rem;
  position: relative;
}
.images-card-container div .images-card-image-container img {
  width: 15rem;
}
.images-card-container div .images-card-loading {
  background-color: transparent;
  border: 0;
}
.images-card-container div input {
  width: 99%;
  height: 3rem;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.363);
  border: 0;
  outline: 0;
  border-top: 1px solid #F2627A;
  text-align: center;
  font-size: 1.3rem;
  color: #F2627A;
  text-transform: uppercase;
}
.images-card-container div input::placeholder {
  color: #F2627A;
  font-size: 1.3rem;
  text-align: center;
}

.button-next-card {
  display: inline-block;
  width: 100%;
  height: 5rem;
  background-color: black;
  bottom: 0;
  position: absolute;
  text-align: center;
  line-height: 5rem;
  color: white;
  text-decoration: none;
}

.card-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: calc(100%-6rem);
}
.card-container ul {
  list-style: none;
}

.triangle-two {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 14px;
  border-left-width: 14px;
  border-bottom: 7px solid rgba(255, 255, 255, 0.658);
  position: absolute;
  top: -0.7rem;
  left: calc(14px + 28%);
}

.number-card {
  position: absolute;
  bottom: 5.1rem;
  font-size: 2rem;
  font-weight: 900;
  left: 0;
  right: 0;
  margin: auto span;
  margin-font-size: 1.6rem;
  margin-color: rgba(255, 255, 255, 0.658);
}

.pill-finish-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.8rem;
}

.images-card-answer-label {
  display: inline-block;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.363);
  border: 0;
  outline: 0;
  border-top: 1px solid #F2627A;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
}

.label-green {
  background-color: darkseagreen;
}

.label-red {
  background-color: #e46464;
}

.correct-answer {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  background-color: darkseagreen;
}

.score {
  font-size: 1.6rem;
  color: palegoldenrod;
}

.pill-type-button {
  width: 100%;
  height: 5rem;
  border: none;
  background-color: whitesmoke;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 1.5rem;
  border-left: 1rem solid #F2627A;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1px;
  transition: all 0.2s linear;
}
.pill-type-button:hover {
  background-color: white;
  padding-left: 2.5rem;
}

.two {
  border-left: 1rem solid #F17834;
}

.three {
  border-left: 1rem solid #28b485;
}

.four {
  border-left: 1rem solid #47b8e0;
}

.pill-box-container {
  width: 100%;
  color: black;
  height: 10rem;
  border: 1px solid lightgray;
  box-shadow: -1px 6px 9px -2px #a8a8a8;
  transition: all 0.2s linear;
  border-left: 1.5rem solid #F2627A;
  padding: 2px 7px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.pill-box-container:hover {
  transform: translateX(1rem);
}
.pill-box-container-title {
  display: flex;
  justify-content: space-between;
}
.pill-box-container-title .title-span {
  color: #8f4040;
  font-size: 1.8rem;
}
.pill-box-container-title div {
  font-size: 1.3rem;
}
.pill-box-container-title div span {
  color: #F2627A;
}
.pill-box-container-description {
  text-align: left;
  font-size: 1.1rem;
  color: #242424;
}
.pill-box-container-level {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pill-box-container-level .l {
  display: flex;
  align-items: center;
}
.pill-box-container-level label {
  color: #F2627A;
  font-size: 3rem;
}
.pill-box-container-level .rate-box {
  background-color: #F17834;
  padding: 3px;
  width: 3rem;
  height: 3rem;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.result-title {
  color: #3d3c3c;
  font-size: 2.3rem;
  text-align: left;
}

.user-card {
  position: relative;
  height: 10rem;
  border: 1px solid #d1cfcf;
  border-radius: 5px;
  z-index: 0;
  margin-bottom: 1rem;
  box-shadow: 0px 3px 5px -2px rgba(150, 150, 150, 0.5);
  display: flex;
}
.user-card-picture {
  width: 10rem;
  height: 100%;
  background-size: cover;
}
.user-card-info {
  padding-left: 5px;
}
.user-card-info-name {
  color: #F2627A;
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .user-card-info-name {
    font-size: 2.5rem;
  }
}
.user-card-info-location span {
  color: #777;
  font-size: 1.7rem;
  font-weight: 700;
}
.user-card-info-location .user-card-info-age {
  color: #F17834;
}
.user-card-score {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.5rem;
  z-index: 100;
  cursor: pointer;
  width: 6rem;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #777;
  font-weight: bolder;
}
.user-card-score-position {
  height: 30%;
  width: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: flex-end;
  border-bottom-left-radius: 1rem;
  background-color: #F2627A;
}
.user-card-score-score {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.home-search-container {
  width: 100vw;
  height: 18rem;
  background: #F17834;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F17834, #F2627A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F17834, #F2627A);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 20;
  box-shadow: -1px 6px 9px -2px #a8a8a8;
}
.home-search-container .triangle {
  display: block;
  height: 0px;
  width: 0px;
  border: 15px solid transparent;
  border-top-color: #F17834;
  position: relative;
  position: absolute;
  bottom: -27px;
  left: calc(50% - 15px);
  z-index: 20;
}
.home-search-container-box {
  width: 100%;
  height: calc(90% - 5.5rem);
  max-width: 50rem;
}
.home-search-container-box span {
  margin: 0 5px;
}
.home-search-container-box form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-search-container-box .separator {
  font-size: 1.6rem;
  margin: 0 1rem;
  color: rgba(255, 255, 255, 0.795);
}
.home-search-container-box .search-box-selector {
  width: 25%;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.226);
  padding-left: 2px;
}
.home-search-container-box .level {
  letter-spacing: 2px;
  padding-left: 7px;
}
.home-search-container-box input {
  margin-top: 2rem;
  width: 60%;
  background-color: transparent;
  outline: 0;
  border: 0;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.795);
  color: white;
  margin-left: 3px;
}
.home-search-container-box input::placeholder {
  color: rgba(255, 255, 255, 0.595);
  padding-left: 6px;
}
.home-search-container-box .search-box-button {
  width: 25%;
  margin-left: 3%;
  margin-top: 2rem;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.336);
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s linear;
}
.home-search-container-box .search-box-button:hover {
  background-color: rgba(255, 255, 255, 0.336);
}

.home-page {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.search-body {
  width: 100vw;
  height: calc(100% - 23rem);
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;
}
.search-body-suggestions {
  width: 100%;
  height: 100%;
  max-width: 76.8rem;
  background-color: white;
  position: absolute;
}
.search-body-suggestions-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5% 5%;
}
.search-body-suggestions-container .no-results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-body-suggestions-container .no-results p {
  color: #F2627A;
  font-size: 3rem;
}
.search-body-suggestions-container .no-results img {
  width: 14rem;
}
.search-body-suggestions-container .results {
  width: 100%;
  height: 100%;
}
.search-body-result {
  width: 100%;
  height: 100%;
  max-width: 76.8rem;
  position: absolute;
}

img {
  width: 25rem;
}

.login-container p {
  font-size: 2rem;
  margin-top: 2rem;
}

.profile-image-container, .profile-image-loading {
  background-color: #fff;
  width: 20rem;
  height: 20rem;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  clip-path: circle(50% at 50% 50%);
}
.profile-image-container div, .profile-image-loading div {
  width: 20rem;
  height: 20rem;
  transition: all 0.2s linear;
  clip-path: circle(50% at 50% 50%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}
.profile-image-container:hover > div, .profile-image-loading:hover > div {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.4;
}
.profile-image-container:hover > img, .profile-image-loading:hover > img {
  transition: all 0.5s linear;
  top: 40%;
  opacity: 1;
}
.profile-image-container img, .profile-image-loading img {
  position: absolute;
  width: 5rem;
  opacity: 0;
  top: 45%;
  right: 40%;
}

.profile-image-loading div {
  width: 20rem;
  height: 20rem;
  clip-path: circle(50% at 50% 50%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.4;
}
.profile-image-loading p {
  position: absolute;
  width: 100;
  font-size: 5rem;
  font-weight: 900;
  color: #F2627A;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-creation {
  background: #F17834;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F17834, #F2627A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F17834, #F2627A);
  height: calc(100% - 10.5rem);
  position: absolute;
  top: 5.5rem;
}

.profile-container {
  max-width: 768px;
  margin: 0 auto;
}

.profile-creation-textbox {
  background-color: rgba(255, 255, 255, 0.685);
  color: #ff5e62;
  border-radius: 1rem;
  padding: 2rem 0;
  position: relative;
  margin: 0 1.5rem 4rem 1.5rem;
}
.profile-creation-textbox p {
  font-weight: 700;
  font-size: 2rem;
}
.profile-creation-textbox .triangle {
  display: block;
  height: 0px;
  width: 0px;
  border: 20px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.685);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 20px);
}

.language-box {
  width: 90vw;
  height: 20vh;
  border-radius: 5px;
  border: 1px dashed white;
  max-width: 768px;
  display: flex;
  color: gray;
}
.language-box-select {
  width: 40%;
  height: 100%;
  border-right: 1px solid white;
}
.language-box-select input {
  width: 100%;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.719);
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  color: #F2627A;
}
.language-box-select div {
  width: 100%;
  height: calc(100% - 28px);
  background-color: rgba(255, 255, 255, 0.596);
  overflow: auto;
  /* Track */
  /* Handle */
}
.language-box-select div p {
  text-align: left;
  transition: all 0.2s linear;
  cursor: pointer;
  border-bottom: 1px solid grey;
  color: gray;
}
.language-box-select div p:hover {
  background-color: rgba(255, 255, 255, 0.74);
}
.language-box-select div::-webkit-scrollbar {
  width: 7px;
}
.language-box-select div::-webkit-scrollbar-track {
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.language-box-select div::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ec6685;
}
.language-box-counter {
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 5px;
  overflow: auto;
  /* Track */
  /* Handle */
}
.language-box-counter::-webkit-scrollbar {
  width: 7px;
}
.language-box-counter::-webkit-scrollbar-track {
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.language-box-counter::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ec6685;
}

.language-selected {
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.delete-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #df4d65;
  margin-right: 5px;
}

.logout-button {
  position: absolute;
  top: -1.6rem;
  right: -1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.8rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
}
.logout-button img {
  width: 3rem;
}

.language-label {
  display: inline-block;
  overflow: hidden;
}

.container-profile {
  height: 100vh;
  background: #F17834;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F17834, #F2627A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F17834, #F2627A);
}

.back-button {
  position: absolute;
  bottom: 0.6rem;
  left: 0.7rem;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.767);
  color: #777;
  border-radius: 2rem;
  padding: 0 1rem;
}

.dashboard-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}
.dashboard-container-body {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard-container-body h3 {
  color: rgba(255, 255, 255, 0.644);
}
.dashboard-container .dashboard-button-container {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: fixed;
  top: 0;
  background-color: #F2627A;
  box-shadow: 1px 11px 14px -8px #aba6ab;
  z-index: 20;
}
.dashboard-container .dashboard-button-container .triangle-dashboard {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 35px;
  border-right-width: 35px;
  border-top: 18px solid #F2627A;
  position: absolute;
  bottom: -1rem;
  z-index: 20;
}
.dashboard-container .dashboard-button-container a {
  color: rgba(255, 255, 255, 0.842);
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  line-height: 2.5rem;
  text-decoration: none;
  padding-bottom: 1rem;
}
.dashboard-container .dashboard-button-container a img {
  width: 2.5rem;
  margin-right: 5px;
}
.dashboard-container .dashboard-content-container {
  width: 100%;
  height: 90%;
  background-color: #fff;
  position: relative;
}
.dashboard-container .dashboard-content-container-created {
  background-color: #fff;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-container .dashboard-content-container-created img {
  width: 15rem;
}
.dashboard-container .dashboard-content-container-created h2 {
  background: -webkit-linear-gradient(#F17834, #F2627A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.dashboard-container .dashboard-content-container-created a {
  text-decoration: none;
  font-size: 3rem;
  display: inline-block;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 700;
  background: -webkit-linear-gradient(#F2627A, #F17834);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s linear;
  border: 1px solid #F2627A;
  border-radius: 5px;
  padding: 1rem 1rem;
}
.dashboard-container .dashboard-content-container-created a:hover {
  background: -webkit-linear-gradient(#F17834, #F2627A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-5px);
  box-shadow: 1px 11px 14px -8px #aba6ab;
}
.dashboard-container .dashboard-content-container-created a:active {
  transform: translateY(-3px);
  box-shadow: 1px 9px 10px -8px #aba6ab;
}
.dashboard-container .dashboard-content-container-created a img {
  width: 4rem;
  margin-right: 5px;
}
.dashboard-container .dashboard-content-container-taken {
  background-color: #fff;
  color: black;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  margin: 0 auto;
  text-align: center;
}
.dashboard-container .dashboard-content-container-taken img {
  width: 15rem;
}
.dashboard-container .dashboard-content-container-taken h2 {
  background: -webkit-linear-gradient(#F17834, #F2627A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.dashboard-container .dashboard-content-container-taken a {
  text-decoration: none;
  max-width: 201.2px;
  font-size: 3rem;
  display: inline-block;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 700;
  background: -webkit-linear-gradient(#F2627A, #F17834);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s linear;
  border: 1px solid #F2627A;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin: 0 auto;
}
.dashboard-container .dashboard-content-container-taken a:hover {
  background: -webkit-linear-gradient(#F17834, #F2627A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-5px);
  box-shadow: 1px 11px 14px -8px #aba6ab;
}
.dashboard-container .dashboard-content-container-taken a:active {
  transform: translateY(-3px);
  box-shadow: 1px 9px 10px -8px #aba6ab;
}
.dashboard-container .dashboard-content-container-taken a img {
  width: 4rem;
  margin-right: 5px;
}
.dashboard-container .dashboard-content-container-score {
  background-color: #fff;
  color: black;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.dashboard-container .dashboard-content-container-score img {
  width: 15rem;
}
.dashboard-container .dashboard-content-container-score header {
  height: 13rem;
  position: fixed;
  top: 8rem;
  width: 100%;
  z-index: 10;
  padding-top: 1.3rem;
  background-color: #f7f7f7;
  box-shadow: 0px 3px 5px -2px rgba(150, 150, 150, 0.5);
}
@media screen and (min-width: 768px) {
  .dashboard-container .dashboard-content-container-score header {
    height: 16rem;
  }
}
.dashboard-container .dashboard-content-container-score header h2 {
  background: -webkit-linear-gradient(#F17834, #F2627A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .dashboard-container .dashboard-content-container-score header h2 {
    font-size: 3.5rem;
    font-weight: 900;
  }
}
.dashboard-container .dashboard-content-container-score header h3 {
  color: #777;
}
.dashboard-container .dashboard-content-container-score header h3 span {
  color: #F2627A;
  font-size: 2rem;
}
.dashboard-container .dashboard-content-container-score header div {
  color: #777;
  font-size: 2.5rem;
  font-weight: 700;
  border: 2px dashed #F2627A;
  display: inline-block;
  padding: 0 0.8rem;
  border-radius: 5px;
}
.dashboard-container .dashboard-content-container-score a {
  text-decoration: none;
  max-width: 201.2px;
  font-size: 3rem;
  display: inline-block;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 700;
  background: -webkit-linear-gradient(#F2627A, #F17834);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s linear;
  border: 1px solid #F2627A;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin: 0 auto;
}
.dashboard-container .dashboard-content-container-score a:hover {
  background: -webkit-linear-gradient(#F17834, #F2627A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-5px);
  box-shadow: 1px 11px 14px -8px #aba6ab;
}
.dashboard-container .dashboard-content-container-score a:active {
  transform: translateY(-3px);
  box-shadow: 1px 9px 10px -8px #aba6ab;
}
.dashboard-container .dashboard-content-container-score a img {
  width: 4rem;
  margin-right: 5px;
}
.dashboard-container .dashboard-content-container-score section {
  padding: 1rem 0;
  margin-top: 13.3rem;
}
@media screen and (min-width: 768px) {
  .dashboard-container .dashboard-content-container-score section {
    margin-top: 16.3rem;
  }
}

#gradient {
  /* Data URI encoded from: gradient.svg */
  background: #F17834 url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGRlZnM+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudCIgeDE9IjAuNSIgeTE9IjAiIHgyPSIwLjUiIHkyPSIxIj4KICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjRjI2MjdBIiAvPgogICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGMTc4MzQiIC8+CiAgPC9saW5lYXJHcmFkaWVudD4KIDwvZGVmcz4KIDxnPgogIDxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBzdHJva2Utd2lkdGg9IjAiIHg9IjAiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
  background-size: contain;
}

.pills-container {
  overflow: auto;
  width: 100%;
  padding: 5px;
  height: 100%;
  padding-top: 1rem;
  position: relative;
}
.pills-container .new-pill-float-button {
  position: fixed;
  bottom: 6.5rem;
  right: 2.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  background-color: #F2627A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  box-shadow: 10px 10px 10px -6px gray;
  text-decoration: none;
  cursor: pointer;
}

.second-dashboard {
  background: #F17834;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F17834, #F2627A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F17834, #F2627A);
}

.container-pill {
  width: 100vw;
  height: 100vh;
  background: #F17834;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F17834, #F2627A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F17834, #F2627A);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-pill .container-content {
  width: 90%;
  height: calc(100% - 5.5rem);
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.container-pill .container-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  border: 3px solid rgba(255, 255, 255, 0.486);
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-pill .container-content-language {
  font-size: 1.6rem;
}
.container-pill .container-content-language span {
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
  color: #F2627A;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.651);
}
.container-pill .container-content-description {
  width: 90%;
  height: 8rem;
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.342);
  border: 1px dashed white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-pill .container-content-description .rate-box {
  position: absolute;
  top: -14px;
  right: -1rem;
  width: 3rem;
  height: 3rem;
  background-color: #4e944e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container-pill .container-content-description p {
  font-size: 1.4rem;
  font-weight: 600;
}
.container-pill .level-bullet {
  display: flex;
  align-items: center;
}
.container-pill .level-bullet label {
  font-size: 6rem;
}
.container-pill .level-bullet span {
  font-size: 2rem;
  margin-right: 2rem;
  letter-spacing: 3px;
  background-color: white;
  border-radius: 5px;
  padding: 0 2rem;
  color: #F2627A;
  position: relative;
}
.container-pill .level-bullet .triangle-right {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 15px;
  border-top-width: 15px;
  border-left: 12px solid white;
  position: absolute;
  right: -11px;
  top: 1px;
}

.topic-button {
  border: 2px solid white;
  border-radius: 1.5rem;
  padding: 0 1rem;
  color: #F2627A;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.651);
  font-size: 1.5rem;
  margin: 0 1rem;
}

.topic-title {
  font-size: 2rem;
}

.topic-body {
  width: 90%;
  display: flex;
  justify-content: center;
}

.pill-author {
  width: 86%;
  max-width: 38rem;
  display: flex;
  justify-content: space-between;
}

.result-image {
  width: 20rem;
}

.score-title {
  font-size: 2.5rem;
}

.score-result {
  font-size: 4rem;
  color: #F2627A;
}

.score-container {
  background-color: rgba(255, 255, 255, 0.451);
  border: 3px solid white;
  padding: 0 5rem;
}

.pill-creation-container {
  width: 90%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.language-selector-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.select-new {
  width: 45%;
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.301);
}

.pill-creation-textarea::placeholder {
  color: white;
  font-size: 1.1rem;
}

.pill-creation-name {
  font-size: 1.4rem;
  text-align: left;
  margin-top: 5px;
}

.pill-creation-name-input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}
.pill-creation-name-input::placeholder {
  color: white;
  font-size: 1.1rem;
}

.text-two {
  max-width: 15rem;
  margin: 0 auto;
  margin-top: 5px;
}

.topic-new-button {
  border: none;
  background-color: rgba(255, 255, 255, 0.601);
  padding: 2px 5px;
  border-radius: 7px;
  margin-right: 7px;
  margin-top: 7px;
}

.topics-container {
  display: flex;
  justify-content: center;
}

.login-container {
  width: 100vw;
  height: 100vh;
  background: #F17834;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F17834, #F2627A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F17834, #F2627A);
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container h1 {
  font-size: 4rem;
}

.login-textbox {
  padding: 2rem 8rem;
}

.logo-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: rgba(255, 255, 255, 0.827);
}
.logo-bar img {
  height: 6.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 15rem;
}

/*# sourceMappingURL=App.css.map */
